*{
	color: white;
}


.wrapper{
	min-height: 100%;
}

.carbon{
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	padding: 12px;
}

.quot_title{
	color: white;
	font-family: 'Pacifico',cursive;
	font-size: 3.5em;
	text-shadow: 7px 7px 7px rgba(0,0,0,0.9);
}

.holder{
	margin-top: 5%;
}

.quot_holder_box{
	position: relative;
	float: left;
	left: 50%;
	transform: translateX(-50%);
	padding: 2% 3% 2% 3%;
	width: 60%;
	min-height: 40%;
	background-color: #222;
	border-radius: 12px;
}

.btn_sty{
	
}

.fetch_new{
	display: block;

}

.post_to_twit{
	display: block;
}

.new_quot_holder{
	position: relative;
	float:left;
	left: 20%;
	width: 10%;
	margin-top: 1%;
	margin-left: 1%;
}

.droppen{
	border: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 0px 37px 5px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 37px 5px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 37px 5px rgba(0,0,0,1);
}

.quots_here{
	font-family: 'Niconne',cursive;
	font-size: 2.5em;
}

.auths_here{
	font-size: 1.5em;
}